** Asunción Carolina Gómez Colomer **

In [43]:
import pandas as pd
# equipamiento cultural RM
df_equip_cult = pd.read_csv("./csv/new variables/Equipamiento_Cultural_RM.csv", sep=",")
df_equip_cult = df_equip_cult[["tipo", "direccion", "comuna"]]
df_equip_cult.head()

                         tipo                direccion       comuna
0  TEATRO Y SALA DE CONCIERTO            650 ESMERALDA     SANTIAGO
1  TEATRO Y SALA DE CONCIERTO                257 CUETO     SANTIAGO
2  TEATRO Y SALA DE CONCIERTO           1301 BALMACEDA     SANTIAGO
3  TEATRO Y SALA DE CONCIERTO    509 JOSE MIGUEL CLARO  PROVIDENCIA
4  TEATRO Y SALA DE CONCIERTO  1531 MARIO KREUTZBERGER     SANTIAGO

In [31]:
# establecimientos educacionales pre basicos
df_est_prebasicos = pd.read_csv("./csv/new variables/Establecimientos_educacionales_pre_basicos.csv", sep=",")
df_est_prebasicos = df_est_prebasicos[["tipo", "direccion", "comuna"]]
df_est_prebasicos.head()

        tipo             direccion    comuna
0  SALA CUNA      2185 WALDO SILVA  SANTIAGO
1  SALA CUNA  2722 GRAL RONDIZZONI  SANTIAGO
2  SALA CUNA      1650 JUAN VICUNA  SANTIAGO
3  SALA CUNA     584 CLEMENTE DIAZ      BUIN
4  SALA CUNA        461 NUEVO BUIN      BUIN

In [33]:
# ferias libres y persas
df_ferias = pd.read_csv("./csv/new variables/feriasLibresPersas.csv", sep=",")
df_ferias = df_ferias[["CALLE_0", "DESDE_0", "HASTA_0", "COMUNA"]]
df_ferias.tail()

                  CALLE_0           DESDE_0        HASTA_0        COMUNA
390             LOS MARES       LA ESTRELLA        OCEANIA      PUDAHUEL
391        LOS QUINCHEROS       EL ESFUERZO                 LO BARNECHEA
392         SAN FRANCISCO  JORGE WASHINGTON  TENIENTE CRUZ   CERRO NAVIA
393  MONS.ESCRIBA DE BALA      CLUB DE POLO                     VITACURA
394        MARIA ANGELICA  P QUEBRADA MACUL                   LA FLORIDA

In [38]:
df_parques_ind = pd.read_csv("./csv/new variables/Parques_Industriales_Santiago.csv", sep=",")

#df_ferias = df_ferias[["CALLE_0", "DESDE_0", "HASTA_0", "COMUNA"]]

df_parques_ind.tail()

,FID,name,layer,gm_type
6,7,Barrio Industrial Puerto Santiago,Unknown Point Feature,Unknown Point Feature
7,8,barrio industrial puerta sur,Unknown Point Feature,Unknown Point Feature
8,9,Barrio industrial de Maipu,Unknown Point Feature,Unknown Point Feature
9,10,Barrio Industrial El Rosal,Unknown Point Feature,Unknown Point Feature
10,11,Ciudad Empresarial,Unknown Point Feature,Unknown Point Feature

In [42]:
# Red seguridad RM
df_red_seg = pd.read_csv("./csv/new variables/Red_Seguridad_RM.csv", sep=",")
df_red_seg = df_red_seg[["tipo", "localid"]]
df_red_seg.head()

          tipo               localid
0  CARABINEROS         ISLA DE MAIPO
1  CARABINEROS              EL MONTE
2  CARABINEROS             TALAGANTE
3  CARABINEROS               POMAIRE
4  CARABINEROS  BAJOS DE SAN AGUSTIN

In [46]:
# Establecimientos educaciones publicos RM
df_est_ed_pub = pd.read_csv("./csv/new variables/Establecimientos_educaciones_pblicos_RM-k9d.csv", sep=",")
df_est_ed_pub = df_est_ed_pub[["tipo", "direccion", "coord_x", "coord_y", "localidad"]]
df_est_ed_pub.head()

           tipo             direccion       coord_x       coord_y localidad
0  ED PREBASICA  1900 ANTONIO MACHADO  347442.72845  6.285191e+06  SANTIAGO
1     ED BASICA   1949 VENANCIA LEIVA  347705.76039  6.285790e+06  SANTIAGO
2     ED BASICA        2769 EL OLIVAR  348779.19141  6.279349e+06  SANTIAGO
3      ED MEDIA         02669 EL OMBU  349217.67379  6.281664e+06  SANTIAGO
4     ED BASICA    02561 MIGUEL ANGEL  349130.79465  6.282411e+06  SANTIAGO

In [65]:
#Localizacion riesgos geofisicos
df_loc_riesgos_geo = pd.read_csv("./csv/new variables/Localizacin_riesgos_geofsicos.csv", sep=",", encoding='utf8') #encoding='latin1'
df_loc_riesgos_geo = df_loc_riesgos_geo[["upref", "comuna"]]
df_loc_riesgos_geo.tail()

                 upref             comuna
273  Riesgo Inundacion  Pudahuel - MaipÃº
274  Riesgo Inundacion          PeÃ±aflor
275  Riesgo Inundacion          CuracavÃ­
276  Riesgo Inundacion             Pirque
277  Riesgo Inundacion      Buin - Pirque

In [72]:
#Ciclovias RM
df_ciclovias= pd.read_csv("./csv/new variables/Red_de_ciclovas.csv", sep=",")
df_ciclovias = df_ciclovias[["FID", "name"]]
df_ciclovias.head(5)

   FID                                     name
0    1                      * IV Centenario (a)
1    2            * 5 de Abril / Esquina Blanca
2    3  * 5 de Abril / Parque por Simón Bolívar
3    4                    * Alameda / Pajaritos
4    5                          * Alberto Llona

In [101]:
#Clinicas RM
df_clinicas = pd.read_csv("./csv/new variables/Red_de_Clnicas.csv", sep=",")
df_clinicas = df_clinicas[["tipo", "direccion", "comuna"]]
df_clinicas.tail(5)

               tipo             direccion            comuna
27  CLINICA PRIVADA        5950 STA MARIA          VITACURA
28  CLINICA PRIVADA     5292 LUIS PASTEUR          VITACURA
29  CLINICA PRIVADA        6561LAGUNA SUR  ESTACION CENTRAL
30  CLINICA PRIVADA      3349 MAR TIRRENO         PENALOLEN
31  CLINICA PRIVADA  12351 CAMINO EL ALBA        LAS CONDES

In [110]:
# Establecimientos de salud (no tiene clinicas)
df_est_salud = pd.read_csv("./csv/new variables/Tipologa_de_Establecimientos_de_Salud.csv", sep=",")
# solo de la RM
df_est_salud = df_est_salud[ df_est_salud["nomreg"]=="Metropolitana de Santiago"]
df_est_salud = df_est_salud[["tipoest", "direcc", "latitud", "longitud"]]
df_est_salud.head(50)

,tipoest,direcc,latitud,longitud
274,Programa de Reparacion y Atencion Integral de ...,Maruri 272 Independencia,-33.429013,-70.655438
275,Consultorio General Urbano,Independencia 1325 Independencia,-33.415155,-70.657119
276,Consultorio General Urbano,Recoleta 740 Recoleta,-33.423922,-70.645768
277,Consultorio General Urbano,Pedro Fontova 4107 Conchalí,-33.388784,-70.671111
278,Consultorio General Urbano,Justicia Social 185 Recoleta,-33.403207,-70.634602
279,Consultorio General Urbano,Los Cipreses 1892 Recoleta,-33.410360,-70.630966
280,Consultorio General Urbano,Recoleta 5580 Huechuraba,-33.373375,-70.636972
281,Consultorio General Urbano,Teniente Colipí 670 Recoleta,-33.384392,-70.644939
282,Consultorio General Urbano,El Guanaco 3250 Conchalí,-33.394400,-70.658148
283,Consultorio General Urbano,El Cortijo 2895 Conchalí,-33.378514,-70.692706
284,Consultorio General Urbano,Alpatacal 540 Colina,-33.205979,-70.670553
285,Consultorio General Rural,Ismael Carmona 978 Lampa,-33.285657,-70.876171
286,Consultorio General Urbano,Santa Elena 180 Lampa,-33.241849,-70.814150
287,Consultorio General Urbano,San Luis 525 Quilicura,-33.365678,-70.746590
288,Consultorio General Urbano,Altona 1835 Conchalí,-33.370386,-70.683005
289,Consultorio General Urbano,Lo Cruzat 486 Quilicura,-33.354232,-70.720395
290,Consultorio General Urbano,"Carretera General San Martín, Km. 31 S/N Colina",-33.184133,-70.653657
291,Consultorio General Urbano,Las Petunias 305 Huechuraba,-33.375909,-70.624663
292,Consultorio General Urbano,4 Oriente 221 Tiltil,-33.135821,-70.799456
293,Consultorio General Urbano,Soberanía 1180 Independencia,-33.417345,-70.668445
294,Consultorio General Urbano,Recoleta 6061 Huechuraba,-33.363415,-70.632789
295,Consultorio General Urbano,Santa Luisa 290 Quilicura,-33.354441,-70.738081
296,Consultorio General Urbano,Recoleta 4125 Recoleta,-33.386753,-70.641739
297,Consultorio de Salud Mental,Salomón Sack 331 Independencia,-33.412375,-70.660542
298,Consultorio de Salud Mental,Canberra 5860 Conchalí,-33.370326,-70.682920
299,Consultorio de Salud Mental,Recoleta 5696 Huechuraba,-33.372528,-70.636405
300,Consultorio de Salud Mental,Inocencia 2705 Recoleta,-33.402025,-70.641581
301,Consultorio de Salud Mental,Guardia Marina Riquelme 489 Quilicura,-33.365865,-70.745776
302,Consultorio de Salud Mental,Pasaje 10 No. 816 Población Ignacio Carrera Pi...,-33.195683,-70.674277
303,Consultorio de Salud Mental,"Directora María Mella 735, Lampa",-33.285581,-70.885630
304,Consultorio de Salud Mental,Daniel Moya 100 Tiltil,-33.086793,-70.924522
305,Centro Comunitario de Salud Familiar,Barón de Juras Reales 3988 Conchalí,-33.394663,-70.682245
306,Centro Comunitario de Salud Familiar,Arco Iris 367 Lampa,-33.304894,-70.853032
307,Centro Comunitario de Salud Familiar,Argentina S/N Lampa,-33.229923,-70.812734
308,Centro Comunitario de Salud Familiar,Sotaqui 434 Quilicura,-33.359252,-70.748629
309,Centro Comunitario de Salud Familiar,Las Torres 211 Quilicura,-33.377029,-70.725970
310,Centro Comunitario de Salud Familiar,Atena 2008 Colina,-33.183727,-70.663439
311,Centro Comunitario de Salud Familiar,San Pedro de Atacama 1925 Huechuraba,-33.360164,-70.683504
312,Servicio de Atencion Primaria de Urgencia,Zapadores 1099 Recoleta,-33.387284,-70.649895
313,Servicio de Atencion Primaria de Urgencia,Pedro Fontova 4107 Conchalí,-33.388784,-70.671111
314,Servicio de Atencion Primaria de Urgencia,Adriana Miranda 1892 Recoleta,-33.410360,-70.630966
315,Servicio de Atencion Primaria de Urgencia,Recoleta 5580 Huechuraba,-33.373375,-70.636972
316,Servicio de Atencion Primaria de Urgencia,Guanaco 3250 Conchalí,-33.394400,-70.658148
317,Servicio de Atencion Primaria de Urgencia,Independencia 5663 Conchalí,-33.378514,-70.692706
318,Servicio de Atencion Primaria de Urgencia,Carretera General San Martín 77 Colina,-33.206836,-70.677463
319,Servicio de Atencion Primaria de Urgencia,Ismael Carmona 978 Lampa,-33.285657,-70.876171
320,Servicio de Atencion Primaria de Urgencia,San Luís 525 Quilicura,-33.365678,-70.746590
321,Servicio de Atencion Primaria de Urgencia,J. Pedro Escobar 483 Quilicura,-33.367266,-70.731201
322,Servicio de Atencion Primaria de Urgencia,Soberanía 1180 Independencia,-33.417345,-70.668445
323,Servicio de Atencion Primaria de Urgencia,Santa Luisa 290 Quilicura,-33.354441,-70.738081