** Asunción Carolina Gómez Colomer **

In [43]:
import pandas as pd
# equipamiento cultural RM
df_equip_cult = pd.read_csv("./csv/new variables/Equipamiento_Cultural_RM.csv", sep=",")
df_equip_cult = df_equip_cult[["tipo", "direccion", "comuna"]]
df_equip_cult.head()

                         tipo                direccion       comuna
0  TEATRO Y SALA DE CONCIERTO            650 ESMERALDA     SANTIAGO
1  TEATRO Y SALA DE CONCIERTO                257 CUETO     SANTIAGO
2  TEATRO Y SALA DE CONCIERTO           1301 BALMACEDA     SANTIAGO
3  TEATRO Y SALA DE CONCIERTO    509 JOSE MIGUEL CLARO  PROVIDENCIA
4  TEATRO Y SALA DE CONCIERTO  1531 MARIO KREUTZBERGER     SANTIAGO

In [31]:
# establecimientos educacionales pre basicos
df_est_prebasicos = pd.read_csv("./csv/new variables/Establecimientos_educacionales_pre_basicos.csv", sep=",")
df_est_prebasicos = df_est_prebasicos[["tipo", "direccion", "comuna"]]
df_est_prebasicos.head()

        tipo             direccion    comuna
0  SALA CUNA      2185 WALDO SILVA  SANTIAGO
1  SALA CUNA  2722 GRAL RONDIZZONI  SANTIAGO
2  SALA CUNA      1650 JUAN VICUNA  SANTIAGO
3  SALA CUNA     584 CLEMENTE DIAZ      BUIN
4  SALA CUNA        461 NUEVO BUIN      BUIN

In [33]:
# ferias libres y persas
df_ferias = pd.read_csv("./csv/new variables/feriasLibresPersas.csv", sep=",")
df_ferias = df_ferias[["CALLE_0", "DESDE_0", "HASTA_0", "COMUNA"]]
df_ferias.tail()

                  CALLE_0           DESDE_0        HASTA_0        COMUNA
390             LOS MARES       LA ESTRELLA        OCEANIA      PUDAHUEL
391        LOS QUINCHEROS       EL ESFUERZO                 LO BARNECHEA
392         SAN FRANCISCO  JORGE WASHINGTON  TENIENTE CRUZ   CERRO NAVIA
393  MONS.ESCRIBA DE BALA      CLUB DE POLO                     VITACURA
394        MARIA ANGELICA  P QUEBRADA MACUL                   LA FLORIDA

In [42]:
# Red seguridad RM
df_red_seg = pd.read_csv("./csv/new variables/Red_Seguridad_RM.csv", sep=",")
df_red_seg = df_red_seg[["tipo", "localid"]]
df_red_seg.head()

          tipo               localid
0  CARABINEROS         ISLA DE MAIPO
1  CARABINEROS              EL MONTE
2  CARABINEROS             TALAGANTE
3  CARABINEROS               POMAIRE
4  CARABINEROS  BAJOS DE SAN AGUSTIN

In [46]:
# Establecimientos educaciones publicos RM
df_est_ed_pub = pd.read_csv("./csv/new variables/Establecimientos_educaciones_pblicos_RM-k9d.csv", sep=",")
df_est_ed_pub = df_est_ed_pub[["tipo", "direccion", "coord_x", "coord_y", "localidad"]]
df_est_ed_pub.head()

           tipo             direccion       coord_x       coord_y localidad
0  ED PREBASICA  1900 ANTONIO MACHADO  347442.72845  6.285191e+06  SANTIAGO
1     ED BASICA   1949 VENANCIA LEIVA  347705.76039  6.285790e+06  SANTIAGO
2     ED BASICA        2769 EL OLIVAR  348779.19141  6.279349e+06  SANTIAGO
3      ED MEDIA         02669 EL OMBU  349217.67379  6.281664e+06  SANTIAGO
4     ED BASICA    02561 MIGUEL ANGEL  349130.79465  6.282411e+06  SANTIAGO

In [65]:
#Localizacion riesgos geofisicos
df_loc_riesgos_geo = pd.read_csv("./csv/new variables/Localizacin_riesgos_geofsicos.csv", sep=",", encoding='utf8') #encoding='latin1'
df_loc_riesgos_geo = df_loc_riesgos_geo[["upref", "comuna"]]
df_loc_riesgos_geo.tail()

                 upref             comuna
273  Riesgo Inundacion  Pudahuel - MaipÃº
274  Riesgo Inundacion          PeÃ±aflor
275  Riesgo Inundacion          CuracavÃ­
276  Riesgo Inundacion             Pirque
277  Riesgo Inundacion      Buin - Pirque

In [72]:
#Ciclovias RM
df_ciclovias= pd.read_csv("./csv/new variables/Red_de_ciclovas.csv", sep=",")
df_ciclovias = df_ciclovias[["FID", "name"]]
df_ciclovias.head(5)

   FID                                     name
0    1                      * IV Centenario (a)
1    2            * 5 de Abril / Esquina Blanca
2    3  * 5 de Abril / Parque por Simón Bolívar
3    4                    * Alameda / Pajaritos
4    5                          * Alberto Llona

In [101]:
#Clinicas RM
df_clinicas = pd.read_csv("./csv/new variables/Red_de_Clnicas.csv", sep=",")
df_clinicas = df_clinicas[["tipo", "direccion", "comuna"]]
df_clinicas.tail(5)

               tipo             direccion            comuna
27  CLINICA PRIVADA        5950 STA MARIA          VITACURA
28  CLINICA PRIVADA     5292 LUIS PASTEUR          VITACURA
29  CLINICA PRIVADA        6561LAGUNA SUR  ESTACION CENTRAL
30  CLINICA PRIVADA      3349 MAR TIRRENO         PENALOLEN
31  CLINICA PRIVADA  12351 CAMINO EL ALBA        LAS CONDES

In [111]:
# Establecimientos de salud (no tiene clinicas)
df_est_salud = pd.read_csv("./csv/new variables/Tipologa_de_Establecimientos_de_Salud.csv", sep=",")
# solo de la RM
df_est_salud = df_est_salud[ df_est_salud["nomreg"]=="Metropolitana de Santiago"]
df_est_salud = df_est_salud[["tipoest", "direcc", "latitud", "longitud"]]
df_est_salud.head(5)

,tipoest,direcc,latitud,longitud
274,Programa de Reparacion y Atencion Integral de ...,Maruri 272 Independencia,-33.429013,-70.655438
275,Consultorio General Urbano,Independencia 1325 Independencia,-33.415155,-70.657119
276,Consultorio General Urbano,Recoleta 740 Recoleta,-33.423922,-70.645768
277,Consultorio General Urbano,Pedro Fontova 4107 Conchalí,-33.388784,-70.671111
278,Consultorio General Urbano,Justicia Social 185 Recoleta,-33.403207,-70.634602